version: '3'
services:
  afrp-helper:
    build: .
    image: afrp-helper:latest
    ports:
      - "5066:5066"
    volumes:
      # Mount config directory
      - ./config:/config
      # Mount persistent volumes for downloads, logs, and database
      - ./downloads:/app/downloads
      - ./logs:/app/logs
      - ./data:/app/data
    environment:
      - PYTHONUNBUFFERED=1  # Ensure Python output is sent to container logs without buffering
    dns:
      - 8.8.8.8
      - 8.8.4.4
    restart: unless-stopped

# volumes:
#   magazine_downloads:  # Persistent volume for downloaded magazines
#   magazine_logs:      # Persistent volume for log files
#   magazine_db:        # Persistent volume for SQLite database
